.about-text {
    font-size: 13px;
    color: #333;
}

.btn {
    font-family: "Mukta", sans-serif;
}

.collapse {
    font-family: "Mukta", sans-serif;
}

.text-link {
    font-family: "Mukta", sans-serif;
    font-size: 13px;
    color: #333;
    margin-left: 300px;
    margin-right: 300px;
    text-align: justify;
}

.link {
    color: #333;
    text-decoration: underline #999;
}

.link:hover {
    color: #999;
}